/IEL/lab/protokoly/protokol1/.idea/
/*/.idea/
/IUS/IUS_incident/
/IOS/projekt1/dzives testy/
/IOS/projekt1/hodnoceni/
/IOS/projekt2/demo
/IOS/projekt2/.idea/
/IOS/projekt2/kontrola-vystupu.sh
/IOS/projekt2/Makefile
/IOS/projekt2/proj2.c
/IOS/projekt2/test.c
/IOS/projekt2/test_bus.sh
/IOS/projekt2/
/IZLO/izlo-projekt1/tests/
/INC/